<html>
    <head>

    </head>
    <body>
        <form action="/login" method="post">
            <label for="email">email</label>
            <input type="text" id="email" name="email">
            <br />
            <label for="senha">Senha</label>
            <input type="text" id="senha" name="senha">
            
            <button type="submit">Login</button>
        </form>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>